In [ ]:
#create barplot showing mean expression in each condition/developmental stage for each gene group

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [ ]:
# #make directory for the plots to be exported to
# dirName = f'../../data/output/{args.file_names}/genes/{args.output_folder_name}'
# try:
#     # Create target Directory
#     os.mkdir(dirName)
#     print("Directory " , dirName ,  " created") 
# except FileExistsError:
#     print("Directory " , dirName ,  " already exists")

In [3]:
gene_groups_cv='/home/witham/Documents/pipeline_new/PromoterArchitecture/data/output/non-overlapping_includingbidirectional_all_genes_newannotation/genes/promoters_5UTR_czechowski_constitutive_variable_random.txt'
gene_groups_tau='/home/witham/Documents/pipeline_new/PromoterArchitecture/data/output/non-overlapping_includingbidirectional_all_genes_newannotation/genes/promoters_5UTR_schmid_non-specific_tissuespecific_random.txt'
expression_data='/home/witham/Documents/pipeline_new/PromoterArchitecturedata/genes/AtGeneExpress_CV_2020/AtGE_dev_gcRMA.txt.newline'

In [ ]:
def prepare_files(expression_data, gene_groups_cv, gene_groups_tau):
    """read in files and create dfs"""
    expression_data_df = pd.read_table(expression_data, sep='\t',header=0)

In [ ]:
def makeplot()

In [4]:
file = '/home/witham/Documents/pipeline_new/PromoterArchitecture/data/output/non-overlapping_includingbidirectional_all_genes_newannotation/genes/tissue_specific/AtGE_dev_gcRMA__all_probes__CV.tsv'

In [61]:
df = pd.read_table(file, sep='\t')
#make new df with last 9 columns
df2 = df[df.columns[-9:]]

In [72]:
list = df2.columns.tolist()
#convert to dictionary
dictionary = {'rank':[df2.columns.tolist()[0]],'probe_id':[df2.columns.tolist()[1]],'gene_id':[df2.columns.tolist()[2]],'mean':[df2.columns.tolist()[3]],'SD':[df2.columns.tolist()[4]],'CV':[df2.columns.tolist()[5]],'propP':[df2.columns.tolist()[6]],'current':[df2.columns.tolist()[7]],'Araport_const':[df2.columns.tolist()[8]]}

In [85]:
final_row = pd.DataFrame.from_dict(dictionary) 
final_row['rank'].replace('t','',regex=True,inplace=True)

In [78]:
#remove header
df.columns = range(df.shape[1])
df_removed_cols = df.loc[:, 0:8]
#rename cols
cols = ['rank','probe_id','gene_id','mean','SD','CV','propP','current','Araport_const']
df_removed_cols.columns = cols

In [100]:
#merge dfs
df_final = pd.concat([df_removed_cols,final_row],ignore_index=True)
#convert rank column to numeric
df_final = df_final.astype({'rank': 'int'})
df_final.sort_values(['rank'], inplace=True, ignore_index=True)

In [101]:
df_final

,rank,probe_id,gene_id,mean,SD,CV,propP,current,Araport_const
0,1,265380_at,AT2G16670,4.854436062036413,0.290069196206258,0.059753428101507494,0,0.1,0.2
1,2,256549_at,AT3G31310,4.29519,0.260373,0.0606197,0,0,0
2,3,256552_at,AT3G31350,3.0776,0.188439,0.0612293,0,1,0
3,4,258520_at,AT3G06710,3.69302,0.234994,0.063632,0,1,0
4,5,258450_at,AT3G22340,3.48425,0.239817,0.0688287,0,0,0
...,...,...,...,...,...,...,...,...,...
22741,22742,246942_at,AT5G25430,45.7237,319.455,6.98664,6,1,0
22742,22743,248038_at,AT5G55980,61.5837,439.403,7.13505,16,1,0
22743,22744,264863_at,AT1G24110,38.4211,274.58,7.14659,7,1,0
22744,22745,267438_at,AT2G19050,54.8131,394.439,7.19607,17,1,0
22745,22746,246118_at,AT5G20340,25.2309,184.676,7.31942,1,1,0